.paciente-home {
   grid-template-columns: repeat(3, auto) !important; /* 3 colunas iguais */
   grid-template-rows: repeat(2, auto) !important;  /* 2 linhas */
}

.app {
   margin-bottom: 48vh;
}

.title-pages {
   display: flex;
   text-align: center;
   padding: 2vh;
   width: 100%;
}

.form-fields {
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: space-around;
   white-space: nowrap;
   padding: 5px;

   .dropDownMenu-A {
      width: 270px;
   }

   .compact-input {
      width: 12vw
   }
   
}
.form-fields label{
   margin: 0;
   
}

.form-registro {
   padding: 1vh 10vw !important;
}

.form-button {
   display: flex;
   justify-content: space-around;
   margin: 0 15vw 20vw 15vw;
   padding: 3vh 0px;
}

.formDados.leitura {
   padding: 15px;
}

.paddingTypeUser {
   padding: 0 10vw !important;
}



/* ============ */
