.modal-content {
   position: relative;
   background: white;
   padding: 50px;
   /* margin: 25% 25%; */
   width: 90%;
   height: 80%;
   border-radius: 8px;
   text-align: center;
   justify-content: center;
   align-items: center;
   overflow-y: auto;
}

.hist_visitas {
   width-large input {
      width: 70%;
   }

   medium-input {
      width: 40%;
   }
}

.buttonModal {
   padding: 10px 20px;
   font-size: 16px;
}