@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,800&display=swap');
.titulosEstilo2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.titulosEstilo3 {
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-weight: bolder;
   font-style: normal;
}

html {
   height: 100vh;
   user-select: none;
}

/* Estilização global */ 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { /* Remover setas dos inputs(Chrome, Chromium-browsers)*/ 
  -webkit-appearance: none;
}

input[type=number] { /* Remover setas dos inputs(Firefox) */ 
  -moz-appearance: textfield;
  appearance: textfield;
}

input, select{
   height: 40px;
   margin: 0.8vh;
   box-shadow: 2px 2px 10px 1px #c7c7c7a6 !important;
   border: solid #cfcfcf 1px !important;
}

button {
   box-shadow: 1px 1px 15px 1px rgba(199, 199, 199, 0.85);
}

/* Estilização especificas */ 
main {
   /* background: #F2F3F4; */
   /* background: linear-gradient(360deg, #ffffff 95%, #ebe8e8 100%); */
}

.simpleBoxShadow {
   background-color: #ffffff;

   padding: 50px;

   border-radius: 20px;
   border: none;

   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

   box-shadow: 0px 8px 37px -14px #0000003d;
   -webkit-box-shadow: 0px 8px 37px -14px #0000003d;
   -moz-box-shadow: 0px 8px 37px -14px #0000003d;
}

.content-login_app-css {
   user-select: none;

   height: 100vh;
   width: 100%;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   background-color: #39a742;
   background: #a7dba7;
   background: linear-gradient(90deg, #d6f2d6 0%, #cae8ff 100%);
}

.content-body-login_app-css {
   background-color: #ffffff;
   border-radius: 20px;
   padding: 50px 80px 50px 80px;
   border: none;

   box-shadow: 0px 8px 37px -14px #0000003d;
   -webkit-box-shadow: 0px 8px 37px -14px #0000003d;
   -moz-box-shadow: 0px 8px 37px -14px #0000003d;
   transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out, -moz-box-shadow 0.3s ease-in-out;
}

.content-home { /* Telas de Home */ 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 300px;
   margin-top: 7vh;
   height: calc(100vh - 7vh);
}

.content-pages { /* Demais telas */ 
   align-items: center;
   margin-left: 300px;
   margin-top: 7vh;
   height: calc(100vh - 7vh);
   left: 300px;
   padding: 20px 2vw;
}

.directAccessDiv {
   margin-top: 20px;
   display: flex;
   gap: 10px;

   .directAccessButton {
      background-color: #fff;
      border-radius: 20px;

      color: #b9640a;

      border: solid 2px #b8b2b2;
      border-bottom: solid 3px #b8b2b2;
      padding: 5px 20px;
   }
   .directAccessButton:hover {
      background-color: #ffe96c;
   }
}

.etecWaterMark {
   opacity: 0.6;
   font-size: 15px;
}

/* Telas de home */


.app {
   position: relative;
   height: calc(100vh - 7vh);
}

.layout {
   display: flex;
   width: calc(100vw - 300px);
   height: calc(100vh - 7vh);
}

.title_Home {
   justify-content: center;
   text-align: center;
   padding: 2vh;
   width: 100%;
}


.grid-container_Home {
   display: grid;
   justify-content: center;
   border: solid gray 2px;
   border-radius: 25px;
   background-color: #d4d4d4;
   grid-template-columns: repeat(4, auto); /* 3 colunas iguais */
   grid-template-rows: repeat(2, auto);  /* 2 linhas */
   gap: 50px;

   width: 80%;
   margin: 2vw;
   /* margin: 2vw; */
   /* padding: 5vw; */
   max-width: 1000px;
}

.grid-container_Home p, .grid-container_Home a{
   text-align: center;
   padding: 0px;
   margin: 0px;
}


.grid-items_Home {
   font-size: large;
   align-content: center;
   cursor: pointer;
   text-decoration: none;
   color: rgb(0, 0, 0);
   border: solid black 1px;
   border-radius: 15px;
   height: 8rem;
   width: 8rem;
   background-color: rgb(255, 255, 255);
   transition: background-color 0.1s ease;
}

.grid-items_Home:hover {
   background-color: #e4ece4;
   color: rgb(0, 0, 0);
}

.grid-items_Home a {
   color: rgb(0, 0, 0);
}

#logoMore {
   height: 50px;
}

.dashboard-grid-container {
   height: 70%;
   width: 90%;
   max-width: 1200px;

   margin-top: 10px;

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.shortcutField {
   display: flex;
   gap: 12px;
   padding-top: 4px;
   padding-bottom: 4px;

   .shortcutClick {
      background-color: #000000;
      color: #fff;
      padding: 17px 30px 0 30px;

      border: solid 3px #000000;
      border-bottom: solid 5px #000000;
      border-radius: 30px;
   }
   .shortcutClick:hover {
      background-color: #39a742;
   }
}

.gridBoxOtherOptions {
   display: flex;
   flex-direction: column;
   gap: 30px;

   .gridBoxOptions_lines {
      display: flex;
      flex-direction: row;
      gap: 50px;

      .boxSimpleInfos {
         width:370px;

         /* border: solid 3px #000000; */
         /* border-bottom: solid 5px #000000; */
         border-radius: 18px;

         box-shadow: 0px 8px 37px -14px #0000003d;
         -webkit-box-shadow: 0px 8px 37px -14px #0000003d;
         -moz-box-shadow: 0px 8px 37px -14px #0000003d;
         transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out, -moz-box-shadow 0.3s ease-in-out;

         position: relative;

         .headerLine {
            background-color: #b9dcb9;
            background: #B9DCB9;
            background: linear-gradient(90deg, #b9dcb9 63%, #59808f 100%);

            color: #3B653C;

            border-bottom: solid 3px #3B653C;
            border-radius: 15px 15px 0 0;

            padding: 15px 20px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 800;
            font-style: normal;

            h5 {
               margin: 0;
            }

            .headerImage {
               height: 30px;
            }
         }
         .mainLine {
            padding: 20px 30px 20px 30px;
         }
         .buttonLine {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            padding: 0 15px 15px 0;

            .buttonB {
               color: #000;
               background-color: #bbd9e8;
               border: solid 1px #a0b2cb;
               border-radius: 10px;
               padding: 10px 20px;
               transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
            }
            .buttonB:hover {
               background-color: #5e8891;
               color: #fff;
            }
         }

      }
      .boxSimpleInfos:hover {
         box-shadow: 0px 8px 37px -14px rgba(0,0,0,0.6);
         -webkit-box-shadow: 0px 8px 37px -14px #00000099;
         -moz-box-shadow: 0px 8px 37px -14px #3d955999;
      }

      .boxSimpleInfos-larger {
         width: 790px;
      }
   };
}