header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   height: 7vh;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 1000;
   padding: 2vh;
   border-bottom: solid .5vh #3B653C;
   background: linear-gradient(to right, rgb(93, 138, 93), rgb(113, 152, 184));
}

.logo_div{
   display: flex;
   height: 5vh;
}

.accountmenu_div {
   display: flex;
   gap: 7px;
   justify-content: space-between;
   align-items: center;
   height: 5vh;
   border-radius: 12px;
   background-color: #a9c6d171;
   width: auto;
   max-width: none;
   min-width: 0;
   white-space: nowrap;
}
.accountmenu_img {
   border-radius: 50px;
   padding: 1vh;
   height: 5.3vh;

}

svg {
   padding: 0 5px;
}

.cursorPointer {
   cursor: pointer;
}

.tituloLogo {
   font-size: 25px;
   color: #D9D9D9;
   margin-left: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
}